
*{box - sizing: border-box;
  margin:0; padding: 0;
  /* background: #DCDCDC; */
}


  .topS {
   width: 100%;
   height: 200px;
   background-color: pink;
     border: 2px dashed green;
 }

 /* .rodape {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  background: #A9A9A9;
  border: 2px dashed green;
  } */

  footer {
    /*width: 100%;
    height: 100%;*/
    background-color:#696969;
    /*position: relative;
    top: 200px;*/
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }

  .rodape {
    position: relative;
    top: 0px;
  }

  .butt {
    position: fixed;
  }

  .btt-fixo {
    position: relative;
    left: 640px;
    top: -290px;
    width: 60px;
    height: 40px;
    border-radius: 25px;
    color: white;
    background: black;
    box-shadow: black;
    opacity: 70%;
    font-size: 20px;
    text-align: center;

  }

  .menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
    text-align: center;
    color: white;
    /*border: 2px dashed green;*/
  }

  .menu ul li { 
   display: inline;
   color: white;
 }

 .menu ul li a {
  padding: 2px 10px;
  display: inline-block;  
  color: #333;
  text-decoration: none;
  color: white;
}

.menu ul li a:hover {
  /*background-color:#D6D6D6;*/
  color: black;
  border-bottom:4px solid black;
}

.inicio{
  width: 100%;
  height: 70%;
  background: black;
}

.titulo {
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial, Helvetica, sans-seri;
  font-style:italic;
  background: #DCDCDC;
  /*border: 2px dashed green;*/
}
/*-------------------------------------------------------------------texto portal-----------------------------------------------------------------*/
.titulo11{
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  font-style:italic;
  font-size: 18;
  background: #A9A9A9;
  /*width: 100%;
  height: 10%;*/
  padding: 15px;
  /*border: 2px dashed green;*/
}

.paiTexto{
    width:100%;
    /*display: flex;*/
    /*border: 2px dashed black;*/
    /*border: 2px dashed green;*/
    height: 5%;
    background: #DCDCDC; 
  }
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
.tituloLogo { 
  font-family: Arial;
  font-size: 35;
  
}

.tituloFicha1 {
  position: relative;
  top: -20px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 35;
  /*border: 2px dashed green;*/
}


.tituloFicha {
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 20;
  /*border: 2px dashed green;*/
}

.titulo1 {
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}
/*---------------------------------------------------------titulos dos carros----------------------------------------*/
.titulo2 {
  position: relative;
  top: -20px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.titulo3 {
  position: relative;
  top: -5px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}


.titulo4 {
  position: relative;
  left: -30px;
  top: 35px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloKa {
  position: relative;
  left: -30px;
  top: 28px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloRanger {
  position: relative; 
  top: -25px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloEdger {
  position: relative; 
  top: 0px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloMustang {
  position: relative; 
  top: 8px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloCivic {
  position: relative;
  top: 5px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloAccord {
  position: relative;
  top: 35px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloSi {
  position: relative;
  top: 8px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloCity {
  position: relative;
  top: 23px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloCrv {
  position: relative;
  top: 28px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}


.tituloFit {
  position: relative;
  top: 10px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloHrv {
  position: relative;
  top: -10px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}


.tituloPolo {
  position: relative;
  top: 5px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}


.tituloVirtus {
  position: relative;
  top: -40px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloJetta {
  position: relative;
  top: -13px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloVoyage {
  position: relative;
  top: -27px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloGolf {
  position: relative;
  top: -15px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloUp {
  position: relative;
  top: 3px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}
.tituloAmarok {
  position: relative;
  top: -60px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}
.tituloTcross {
  position: relative;
  top: -30px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloCronos {
  position: relative;
  top: -8px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloArgo {
  position: relative;
  top: -30px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloSiena {
  position: relative;
  top: 5px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloToro {
  position: relative;
  top: -18px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloMobi {
  position: relative;
  top: -58px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloUno {
  position: relative;
  top: 5px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloStrada {
  position: relative;
  top: 5px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloPalio {
  position: relative;
  top: -20px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloHb20 {
  position: relative;
  top: -5px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloAzera {
  position: relative;
  top: 5px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloHb20s {
  position: relative;
  top: 0px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloCreta {
  position: relative;
  top: -30px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloIx35 {
  position: relative;
  top: -15px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloTucson {
  position: relative;
  top: 10px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}

.tituloSanta {
  position: relative;
  top: -30px;
  flex-grow:1;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial;
  /*font-style:italic;*/
  font-size: 25;
  /*border: 2px dashed green;*/
}



.topo{
  display: flex;
  justify-content:center;
  align-items:center;
  /* border: 2px dashed green;*/
  min-height:40px;
  /*background-color: #A9A9A9;*/
}

.icone{
  width: 32px;
  min-width:32px;
  border: 2px dashed red;
}

.pai{
  width:100%;
  display: flex;
  /*border: 2px dashed black;*/
  padding: .em;
  /*border: 2px dashed green;*/
}

.fonte{
 flex-grow:1;
 display:flex;
 justify-content:center;
 align-items:center;
 font-family: Arial;
 font-style:italic;
 font-size: 45;
 color: red;
}

.fonteFicha{
 flex-grow:1;
 display:flex;
 justify-content:center;
 align-items:center;
 font-family: Arial;
 font-style:italic;
 font-size: 45;
 color:;
}


.margin{
	margin: 8px;
}


.imagem {
  display: flex;
  background-color: ;
  margin: 5px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemCatalogo {
  display: flex;
  background-color: ;
  margin: 35px 180px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 5px;
  padding: .2em;
}
/*---------------------------------------------------------imagens dos carros----------------------------------------*/
.imagemVolkswagen {
  position: relative;
  left: 70px;
  top: -90px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemHyundai {
  position: relative;
  right: 50px;
  top: 25px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemChevrolet {
  position: relative;
  left: -30px;
  top: 20px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemFiat {
  position: relative;
  left: 40px;
  top: -30px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemHonda {
  position: relative;
  left:  05px;
  /*top: -30px;*/
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.imagemFord {
  position: relative;
  left: -30px;
  /*top: -30px;*/
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemFusion {
  position: relative;
  left: -30px;
  top: 10px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.imagemKa {
  position: relative;
  left: -50px;
  top: 10px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.imagemMustang {
  position: relative;
  left: 25px;
  /*top: -7px;*/
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemRanger {
  position: relative;
  left: -20px;
  top: -20px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagem2020 {
  position: relative;
  top: -5px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemOnix {
  position: relative;
  top: 5px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemClassic {
  position: relative;
  top: 10px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemActi {
  position: relative;
  left: -15px;
  /*top: 5px;*/
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.imagemCamaro {
  position: relative;
  left: 15px;
  /*top: 5px;*/
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemAccord {
  position: relative;
  top: 30px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemCity {
  position: relative;
  top: 15px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemCivic {
  position: relative;
  top: 5px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemHrv {
  position: relative;
  top: -20px;
  left: 30px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemFit {
  position: relative;
  top: 10px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemCrv {
  position: relative;
  top: 15px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemWrv {
  position: relative;
  top: -10px;
  left: 25px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemPolo {
  position: relative;
  top: 5px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemVirtus {
  position: relative;
  top: -15px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.imagemVoyage {
  position: relative;
  top: 15px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemJetta {
  position: relative;
  top: 0px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemVoyage {
  position: relative;
  top: -10px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemAmarok {
  position: relative;
  top: -35px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemTcross {
  position: relative;
  left: 10px;
  top: -15px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.imagemAzera {
  position: relative;
  left: -25px;
  top: 13px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.imagemHb20s {
  position: relative;
  left: -10px;
  top: 10px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemTucson {
  position: relative;
  left: 10px;
  top: 18px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemSanta {
  position: relative;
  left: 10px;
  top: -7px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemToro {
  position: relative;
  left: 2px;
  top: -5px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.imagemCronos {
  position: relative;
  left: 10px;
  top: 5px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}

.imagemMobi {
  position: relative;
  left: -15px;
  top: -25px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.imagemPalio {
  position: relative;
  left: 10px;
  top: -10px;
  display: flex;
  background-color: ;
  margin: 10px 3px;
  flex-direction: column;
  flex-wrap: noweap;
  border-radius: 16px;
  padding: .2em;
}


.linha1{
  margin: 10px 80px;
  display: flex;
  justify-content:center;
  
}

/*.fundo{
	background: #F5F5DC;
  }*/

  .button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
  }

  .tamanhoL{
   font-size: 40px;
 }

 .area{
  position:relative;
  left:0%;
  top:29%;
  width:60px;
  height:270px;
}

.login {
 background-color: #FFFFCC; 
 width:100%;
 font: 11px Verdana, sans-serif;
 color: #003399;
 border: 2px solid #0000FF;
 padding-left:10px;
}

.quebra{ 
  margin: 40px 110px;
  display: flex;
  /* justify-content:center;*/ 
}

.quebraCad{ 
  margin: 10px 80px;
  display: flex;
  /* justify-content:center;*/
}

.quebraG{ 
  margin: 100px 210px;
  display: flex;
  /* justify-content:center;*/ 
}

.stfonte{
  color: white;
}

.corfonte{
  color: red;
}
/*----------------------------------------------------------------slide ------------------------------------------------------------------------------*/
.slideimagem {
  width: 80%;
  height: 300px;
  border: 0;
  padding: 0;
  left: 160px;
  top: 280px;
}

.slideimagem {
  position: absolute;
  opacity: 0;
  animation: animaSlide 25s infinite;
}

@keyframes animaSlide {
  25% {
    opacity: 1
  }
  75% {
    opacity: 0;
  }
}

.slideimagem:nth-child(0) {
  animation-delay: 0s;
}

.slideimagem:nth-child(1) {
  animation-delay: 5s;
}

.slideimagem:nth-child(2) {
  animation-delay: 10s;
}

/*----------------------------------------------slide carros----------------------------------------------------------------*/
.inicioFicha{
  /*width: 1615px;*/
  width: 100%;
  height: 58%;
  background: #DCDCDC;
}

.inicioImagem{
  position: relative;
  /* top:-250px;*/
  background: #DCDCDC;
}

.slideimagem1 {
  height: 390px;

}

.slideimagem1 {
  position: absolute;
  opacity: 0;
  animation: animaSlide 15s infinite;
}

@keyframes animaSlide {
  25% {
    opacity: 1
  }
  75% {
    opacity: 0;
  }
}

.slideimagem1:nth-child(0) {
  animation-delay: 0s;
}

.slideimagem1:nth-child(1) {
  animation-delay: 5s;
}

.slideimagem1:nth-child(2) {
  animation-delay: 10s;
}

/*----------------------------------------imagem baner------------------------------------------------------------*/

.slideimagem2 {
 /* width: 50%;*/
 height: 440px;

     /*border: 3px solid green;
   */  }

   .slideimagem2 {
    position: absolute;
    opacity: 0;
    animation: animaSlide 15s infinite;
  }

  @keyframes animaSlide {
    25% {
      opacity: 1
    }
    75% {
      opacity: 0;
    }
  }

  .slideimagem2:nth-child(0) {
    animation-delay: 0s;
  }

  .slideimagem2:nth-child(1) {
    animation-delay: 5s;
  }

  .slideimagem2:nth-child(2) {
    animation-delay: 10s;
  }


  .paiBaner{
    width:100%;
    display: flex;
    /*border: 2px dashed black;*/
    /*border: 2px dashed green;*/
    height: 58%;
    background: #DCDCDC;
  }


  .tituloBaner {
    position: relative;
    flex-grow:1;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: Arial, Helvetica, sans-seri;
    font-style:italic;
    background: #DCDCDC;
    /*border: 2px dashed green;*/
  }
  /*--------------------------------------------------------------------------formulario------------------------------------------------------------*/
  /*body{font-family: Arial, Helvetica, sans-serif;}*/
  .content{display: flex; justify-content: center;}
  .contato{width: 100%; max-width: 500px; }
  .form{display: flex; flex-direction: column;}
  .field{padding: 10px; margin-bottom: 15px;}


